*{
    background-color: rgb(41, 41, 41);
}

.main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.image{
        width: fit-content;
        box-sizing: border-box;
        height:100%;
        justify-content: center;
        align-items: flex-start;
        margin: 10px;
        padding: 20px;
        border-left: 2px solid white;
}

.container{
    max-width: 80%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
}
.contents{
    display: flex;
    justify-content: space-between;
}
.icon{
    color: aqua;
}
.popup {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 20px;
    display: flex;
}
.close-icon{
    background-color: rgb(17, 17, 17);
}
.popup-image{
    
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0;
}
.image-container{
    width: 80%;
    height: 70%;
    background-color: white; 
    margin:10%;

}
.icon-container{
    margin: 0;
    background-color: white;
}
